@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

/* There is a LOT of emphasis in this book, and many types (i, em, q, strong).
Many such are nested, hence the need for the following selectors */
i em{
	font-style: normal;
}

em em{
	font-style: normal;
}

i i{
	font-style: normal;
}

em strong{
	font-style: normal;
}

q{
	font-style: italic;
}

q em{
	font-style: normal;
}

q strong{
	font-style: normal;
}

/* only for debugging purposes -- remove next two selectors */
q:before{
	content: "«";
}

q:after{
	content: "»";
}

/* text briefly explaining something about a letter */
.explanatory{
	font-style: italic;
	text-align: center;
}

p.explanatory:before{
	content: "[";
}

p.explanatory:after{
	content: "]";
}

.abstract{
	font-style: italic;
	text-indent: 0;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.abstract:before{
	content: "[";
}

.abstract:after{
	content: "]";
}

strong{
	font-weight: normal;
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
	font-variant: normal;
}

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

/* letters are nested within letters! */
[epub|type~="z3998:letter"] [epub|type~="z3998:letter"]{
	margin-left: 1em;
	margin-right: 1em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
	margin-bottom: 0.5em;
}

footer{
	margin-top: 0.5em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	text-align: left;
	text-indent: 0;
	padding: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

/* This is to match the source, where letters are often headed like TO CLARY HARLOWE and centered */
p[epub|type~="z3998:recipient"]{
	text-align: center;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

/* this is to handle multi-paragraph postscripts */
div[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

div[epub|type~="z3998:postscript"]:nth-child(n+2){
	margin-top: 0;
	text-indent: 1em;
	text-align: left;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] header p,
[epub|type~="z3998:verse"] header p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

[epub|type~="z3998:poem"] p.stanza-number{
	margin-top: 0.5em;
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

p span.i1{
	padding-left: 2em;
}

/* these are for drama-like passages */
[epub|type~="z3998:scene"] header,
[epub|type~="z3998:stage-direction"] header,
[epub|type~="z3998:stage-direction"] p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
	text-align: center;
	text-indent: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
	font-style: normal; /* This avoids character names being italicised within a stage direction */
}

/* for debugging purposes -- remove */
.footnote{
	color: red;
}

/* This is for the indices (pointing fingers) in chap 5-20. Thanks to Robin Whittleton for this solution. */
blockquote.margined p{
	margin-left: 4em;
	position: relative;
}

.manicule{
	position: absolute;
	left: -3em;
}

/* this is for chapter 5-30 where Lovelace has in part forged a letter from Miss Howe and has indicated to Belford that he has underscored the parts he has written himself */
.forged{
	text-decoration: underline;
	text-decoration-style: solid;
}