@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

header{
	font-variant: small-caps;
	margin: 1em 0 1em 0;
}

/* paras following letters within letters should start left-aligned */
blockquote blockquote + p{
	text-indent: 0;
}

/* headers within blockquotes which are NOT themselves letters should be centered */
blockquote blockquote header p{
	text-align: center;
}

/* There is a LOT of emphasis in this book, and many types (i, em, q, strong).
Many such are nested, hence the need for the following selectors */
em strong{
	font-style: normal;
}

q{
	font-style: italic;
}

q em{
	font-style: normal;
}

q strong{
	font-style: normal;
}

/* text briefly explaining something about a letter */
.explanatory{
	font-style: italic;
	text-align: center;
	text-indent: 0;
	margin-bottom: 0.5em;
}

/* Many letters are described by centered all-caps like TO MY UNFORTUNATE SISTER. Note that while MOST of these instances are contained within an actual letter header block, there are some instances where it can't be, hence the need to specify small-caps. */
p.letter-header{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
	margin-bottom: 0.5em;
}

span.letter-header{
	font-variant: small-caps;
}

/* these are for the hysterical letters in 6-16 */
aside{
	width: 50%;
	float: right;
}
 
aside blockquote{
	margin-top: 0;
}

aside p.explanatory{
	text-align: initial;
	text-indent: 2em;
	margin-bottom: 0;
}
/* end torn-up letters */

/* abstracts are short summaries of letters or parts of letters */
.abstract{
	font-style: italic;
	margin: 1em;
	text-indent: 0;
}

.abstract em,
.abstract q{
	font-style: normal;
}

div.abstract + p,
p.abstract + p{
	text-indent: 0;
}

strong{
	font-weight: normal;
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: right;
	font-style: italic;
	font-variant: normal;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

/* letters are nested within letters! */
[epub|type~="z3998:letter"] [epub|type~="z3998:letter"]{
	margin-left: 1em;
	margin-right: 1em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
	margin-bottom: 0.5em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	text-align: initial;
	text-indent: 0;
	padding: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 4em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 6em;
}

cite{
	font-variant: small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
	font-variant: none;
}

body [xml|lang]{
	font-style: italic;
}

/* these are for drama-like passages */
[epub|type~="z3998:stage-direction"]{
	font-style: italic;
	text-align: center;
	text-indent: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
	font-style: normal; /* This avoids character names being italicised within a stage direction */
}

table{
	margin: 1em auto 1em auto;
}

td{
	vertical-align: top;
}

/* drama-like 'all at once' speech in letter-78 */
#letter-78 div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1em;
}

#letter-78 div p:nth-of-type(1){
	border-right: solid thin;
	padding-right: 1em;
}

/* this is for letter-239 where Lovelace has in part forged a letter from Miss Howe and has indicated to Belford that he has underscored the parts he has written himself */
.forged{
	text-decoration: underline;
	text-decoration-style: solid;
}

/* one line paragraph in page source, centered for emphasis, but is not a blockquote */
#letter-54 div,
#letter-323 div,
#letter-419 div{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#conclusion blockquote:nth-of-type(2) p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

/* This is for the indices (pointing fingers) in chap 5-20. Thanks to Robin Whittleton for this solution. */
#letter-229 blockquote blockquote:nth-of-type(1) p{
	margin-left: 4em;
	position: relative;
}

.manicule{
	position: absolute;
	left: -3em;
	text-indent: 0;
}

/* for plaque on Clarissa's coffin */
#letter-451 blockquote blockquote:nth-of-type(1) p{
	text-align: center;
	text-indent: 0;
}

/* for Clarissa's MEDITATIONS in several letters, eg. 364 and 399 */
blockquote.meditation p{
	font-style: italic;
}

blockquote.meditation header p{
	text-indent: 0;
	text-align: center;
	font-style: normal;
}

blockquote.meditation header p:nth-of-type(2){
	font-variant: none;
}

/* These are for lists of points in letters 515 and 519 to better match the page scans */
#letter-515 ul,
#letter-519 ul{
	list-style-type: none;
}

#letter-515 li p,
#letter-519 li p{
	text-indent: -1em;
}

/* These are for a list of Clarissa's activities in letter 529, to better match the layout in the page scans */
#letter-529 ul{
	list-style-type: none;
}

#letter-529 li{
	margin-top: 1em;
}

#letter-529 li p:first-child{
	text-align: center;
	text-indent: 0;
	margin-bottom: 1em;
}
